name: eslint
on:
  pull_request:
    paths:
      - '**.js'
      - '.github/workflows/eslint.yml'

jobs:
  eslint:
    name: runner / eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.0.0
      - name: eslint
        uses: reviewdog/action-eslint@v1.20.0
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          eslint_flags: 'static/'
          filter_mode: nofilter
          fail_on_error: true
